.requirements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.requirements-content {
  display: flex;
  align-items: center;
  width: 1000px; 
  padding: 60px; 
  border-radius: 15px; 
  border: 3px solid #352e4b; 
}

.req-icon {
  width: 50%; 
  margin-right: 30px;
  border-radius: 15px; 
}

.requirements-text {
  flex: 1;
  text-align: center;
}

.requirements-text h2 {
  color: #352e4b;
  font-size: 36px; 
  margin-bottom: 30px;
}

.requirements-text p, .requirements-list, .requirements-note {
  font-size: 22px;
  color: #555;
  line-height: 1.8; 
  margin-bottom: 20px;
}

.requirements-list {
  list-style-type: disc;
  margin-left: 25px;
  text-align: left;
}


.next-btn {
  font-size: 50px; 
  color: #352e4b !important;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px; /* Align to the right */
  background: none !important; 
  border: none !important; 
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.next-btn:hover {
  color: #352e4b !important; 
  background: none !important; 
}
