.hero-section {
  background-color: transparent;
}

.text-container h1,
.text-container p {
  color: black;
  font-size: 36px; /* Increased font size */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  background: white;
  border-radius: 10px;
  padding: 30px; /* Increased padding */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 400px; /* Increased logo size */
  height: auto;
}

button {
  background-color: #352e4b; /* Applied color to button */
  color: white;
  padding: 15px 30px; /* Increased padding */
  font-size: 18px; /* Increased font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #261d35; /* Darker shade on hover */
}
.btn-primary {
  background-color: #352e4b !important;
  border-color: #352e4b !important;
}

.btn-primary:hover {
  background-color: #261d35 !important;
  border-color: #261d35 !important;
}
